*{
    background-color: black;
    margin: 0;
    border: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

article{
    width: 30%;
    float: left;
}

aside{
    width: 70%;
    float: left;
}

header{
    height: 20%;
}

main{
    height: 50%;
}

footer{
    height: 30%;
}

h1, h2, h3, h4, a{
    color: white;
    text-align: center;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80px;
    margin-top: 20px;
    margin-bottom: 80px;
}

h2{
    margin-top: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-decoration-thickness: white;
}

h3{
    font-size: 30px;
    margin-bottom: 50px;
}

h4{
    margin-left: 100px;
    font-size: 30px;
    margin-bottom: 50px;
    margin-right: 10px;
}

#explicacao{
    text-align: center;
}

#linhatempo{
    margin-bottom: 0;
    text-align: center;
}

#nome{
    margin-bottom: 20px;
}

.link:hover{
    text-shadow: 0 0 20px gray;
}

.imagemgrande{
    width: 300px;
    margin-left: 80px;
    margin-bottom: 0px;
}

#linha{
    background-color: white;
    height: 10px;
}

.linhavertical{
    background-color: white;
    width: 10px;
    height: 100px;
}

#linha1{
    margin-left: 200px;
    float: left;
}

#linha2{
    margin-left: 400px;
    float: left;
}

#linha3{
    margin-left: 400px;
    float: left;
}

#linha4{
    margin-left: 800px;
}

#linha5{
    margin-left: 400px;
    float: left;
}

#mainlinha{
    height: 200px;
}